/*color-root*/

:root {
  --basic-1: #ffffff;
  --line-bar-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);

  --basic-2: #000000;
  --copywrite-black: #231f20;
  --black-sorting: rgba(0, 0, 0, 0.3);

  --info-brown: #766357;
  --hover-brown: #604e43;
  --active-brown: #503e33;

  --basic-3: #81b3d2;
  --hover-blue: #669ec0;
  --active-blue: #5496bd;

  --txt-grey: #333333;
  --reiting-grey: #666666;
  --checkbox-block-grey: #6a6a6a;
  --background-grey: #888888;
  --simbol-grey: #a9a9a9;
  --slider-gray: #ababab;
  --triagle-gray: #cacaca;
  --number-grey: #eeeeee;
  --line-grey: #e5e5e5;
  --field-hover-grey: #ebebeb;
  --field-grey: #f2f2f2;
  --logo-academy-grey: #bdbbbc;
  --form-shadow: rgba(0, 1, 1, 0.15);
  --shadow-slider-grey: rgba(171, 171, 171, 0.3);
  --site-shadow: rgba(0, 1, 1, 0.2);
}

.page {
  height: 100%;
}

.container-body {
  min-height: 100%;
  width: 1200px;
  box-shadow: 0px 5px 15px var(--site-shadow);
  background-color: var(--basic-1);
}

/*body*/

.main-body {
  height: 100%;
  font-family: "PT Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-2);
  text-transform: uppercase;
  background-color: var(--field-grey);
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

/*ссылки*/
a {
  text-decoration: none;
  color: var(--basic-2);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*хедер*/
/*main-navigation*/
.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-2);
  padding: 0;
  margin: 0;
}

.site-navigation {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: 20%;
}

.link {
  display: inherit;
  padding: 10px;
  color: var(--basic-2);
}

.link:hover {
  color: var(--basic-3);
}

.link:active {
  color: var(--black-sorting);
}

.page-active {
  color: var(--info-brown);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin: auto;
  padding: auto;
  background-image: url(../img/logo1.svg);
  background-repeat: no-repeat;
  z-index: 1;
}
/*
.main-header-logo a {
  display: block;
}
*/
/*sedona-tagline-image*/

.visibility-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.background-image-sedona {
  margin-top: -29px;
  height: 510px;
  width: 1200px;
  background-color: var(--basic-3);
  background-image: url(../img/image-sedona.jpg), url(../img/welcome.svg),
    url(../img/shape.svg);
}

.img-text {
  width: 455px;
  height: 350px;
  padding-top: 75px;
  padding-bottom: 80px;
}

.shape {
  width: 1200px;
  height: 57px;
  position: absolute;
  transform: translateX(-69%);
  order: 1;
  top: 508px;
}

/*little-town*/
.little-town {
  line-height: 26px;
}

.caption {
  font-size: 21px;
  padding: 42px 365px 0 365px;
}

.reasons {
  padding: 16px 340px 51px 340px;
}

/*block 1*/
/*block 3*/
.image-text {
  display: flex;
  background-color: var(--basic-3);
  width: 1200px;
  min-height: 100%;
}

.image-text--revercy {
  flex-direction: row-reverse;
}

.item-image {
  color: var(--basic-1);
  margin: 0;
  padding: 0;
  width: 400px;
  height: 100%;
}

.number-detals {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 50px 120px 0 120px;
  text-align: center;
}

.number {
  font-size: 14px;
  text-align: center;
  margin: 25px 175px 0 175px;
}

.prescription {
  font-size: 14px;
  line-height: 21px;
  margin: 23px 48px 54px 48px;
}

.image-town {
  background-color: var(--triagle-gray);
  width: 800px;
  height: 256px;
}

/*features block-2*/
.features-all-true-city,
.features-all-bridge-devil {
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
}

.features-all-true-city {
  min-height: 330px;
}

.features-all-bridge-devil {
  background-color: var(--number-grey);
  min-height: 256px;
}

.feature-complex,
.features-complex-number {
  width: 400px;

  line-height: 21px;
}

.feature-complex-number {
  min-height: 255px;
}

.feature-complex {
  min-height: 330px;
}

.house {
  width: 75px;
  height: 72px;
  margin: 60px 165px 0 165px;
}

.features-house {
  margin: 28px 168px 0 165px;
  font-size: 21px;
}

.detals-house {
  font-size: 14px;
  margin: 25px 73px 0 73px;
}

.burger {
  width: 75px;
  height: 70px;
  margin: 61px 165px 0 165px;
}

.features-burger {
  font-size: 21px;
  margin: 29px 182px 0 182px;
}

.detals-burger {
  font-size: 14px;
  margin: 25px 51px 0 51px;
}

.souvenir {
  width: 64px;
  height: 77px;
  margin: 55px 168px 0 168px;
}

.features-souvenir {
  margin: 25px 148px 0 148px;
  font-size: 21px;
}

.detals-souvenir {
  font-size: 14px;
  margin: 25px 65px 0 65px;
}

.number-features {
  padding: 47px 140px 0 140px;
  font-weight: 700;
  font-size: 21px;
}

.far-features {
  font-size: 14px;
  padding: 23px 96px 54px 96px;
}

.to-las-vegas {
  font-size: 14px;
  padding: 23px 60px 54px 60px;
}

.bad-grand {
  font-size: 14px;
  padding: 23px 75px 54px 75px;
}
/*questi0n*/
.question {
  font-size: 30px;
  line-height: 24px;
  padding: 59px 382px 0 382px;
}

.div-interesting {
  width: 1200px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.interesting {
  line-height: 24px;
}

.search-hotel {
  width: 319px;
  height: 26px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  justify-items: center;
  padding: 30px 124px;
  margin: 0;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 7px 15px var(--form-shadow);
  margin: 0 auto;
  width: 568px;
  height: 395px;
  padding: 0;
  color: var(--basic-2);
}

.form-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-people {
  display: flex;
  width: 442px;
  height: 40px;
  justify-content: space-between;
}

.appointment-date {
  color: var(--basic-2);
}

.appointment-item label,
.appointment-item input {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.appointment-item input {
  background-color: var(--field-grey);
  padding-left: 12px;
  position: relative;
}

.appointment-item input::after {
  content: "";
  position: absolute;
  background-image: url(../img/calendar.svg);
  width: 21px;
  height: 23px;
  order: 1;
}

.appointment-item input:hover {
  background-color: var(--field-hover-grey);
}

.appointment-item input:focus {
  outline: 2px solid var(--line-grey);
  background-color: transparent;
}

.appointment-item-common input {
  width: 346px;
  height: 38px;
}

.appointment-item-people input {
  width: 114px;
  height: 38px;
  text-align: center;
}

.old {
  margin-left: 20px;
}

.child {
  margin-left: 12px;
}

.button-search {
  color: var(--basic-1);
  background-color: var(--basic-3);
  padding: 16px 182px;
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  outline: none;
  width: 458px;
  height: 58px;
}

.button-search:hover {
  background-color: var(--hover-blue);
}

.button-search:active {
  color: var(--line-bar-white);
  background-color: var(--active-blue);
}

.map {
  width: 1200px;
  height: 595px;
  background-color: var(--field-grey);
  background-image: url(../img/map.png);
}

/*footer*/
.main-footer {
  background-color: var(--footer-white);
  color: var(--basic-2);
  display: flex;
  width: 1200px;
  height: 120px;
  justify-content: space-around;
}

/*visitsedona/tel*/
.footer-caption {
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/*socnetwork*/
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-top: 36px;
  padding-bottom: 36px;
}

.socnetwork {
  margin-right: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: var(--basic-3);
}

.social-button path {
  fill: var(--basic-1);
}

.social-button:hover {
  background-color: var(--hover-blue);
}
.social-button:focus {
  background-color: var(--active-blue);
}

.social-button:active path {
  fill: var(--line-bar-white);
}

.by {
  line-height: 26px;
  display: grid;
  grid-template-columns: 74px 114px;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.html-academy:hover {
  fill: var(--basic-3);
}

.html-academy:active {
  fill: var(--logo-academy-grey);
}

/*hotels*/
.filters {
  background-image: url(../img/back-choice.jpg);
  width: 1200px;
  height: 217px;
  display: flex;
  justify-content: space-between;
  color: var(--basic-1);
  margin-top: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-left: 73px;
  text-align: start;
}

.filter legend {
  padding-top: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filter-option {
  margin-top: 25px;
}

.filter-option label {
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 17px;
  left: 27px;
}

.filter-option input {
  position: absolute;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off.svg);
  width: 23px;
  height: 23px;
  left: -26px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-on.svg);
  width: 27px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input,
.filter-input:hover {
  color: var(--basic-1);
}

.filter-input:disabled {
  color: var(--checkbox-block-grey);
}

.price-filter {
  padding: 26px 73px 32px 0;
  color: var(--basic-1);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: start;
}

.price-controls {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  border: 2px solid var(--basic-1);
  border-radius: 2px;
  position: relative;
}

.price-controls input[class="text"] {
  background-color: transparent;
  border: none;
  color: var(--basic-1);
  text-align: center;
  padding: 7px 0 9px 0;
  margin: 0;
}

.min-price::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-1);
  top: 5px;
  order: 1;
  left: 159px;
}

.range-controls {
  height: 20px;
  margin-top: 20px;
  padding-top: 9px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: var(--line-bar-white);
}

.range-controls .bar {
  width: 78.5%;
  height: 2px;
  background-color: var(--basic-1);
}

.range-controls .toggle {
  position: relative;
  top: -21px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-1);
  background-color: var(--slider-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-slider-grey);
  cursor: pointer;
}

.range-controls .toggle-max {
  position: absolute;
  left: 230px;
  top: -9px;
}

.toggle {
  width: 19px;
  height: 19px;
}

.toggle:hover {
  width: 23px;
  height: 22px;
}

.toggle:active {
  fill: var(--basic-3);
}

.show {
  width: 137px;
  height: 36px;
  left: 584px;
  top: 222px;
  text-align: center;
  color: var(--basic-1);
  border: 2px solid var(--basic-1);
  background-color: transparent;
}

.show:hover {
  color: var(--basic-2);
  background-color: var(--basic-1);
}

/*сортировка*/
.sorting {
  display: grid;
  width: 1200px;
  height: 85px;
  border-bottom: 1px solid var(--line-grey);
  grid-template-columns: auto 1fr auto;
  grid-gap: 30px;
}

.found-sorting {
  display: flex;
  padding-left: 73px;
  align-items: center;
}

.search-sorting {
  font-size: 21px;
}

.sorting-sorting {
  font-size: 12px;
  margin-left: 46px;
}

.list-a-sorting {
  display: flex;
  grid-template-columns: 50px 50px 75px;
  font-size: 12px;
  padding-right: 33px;
  padding-left: 0;
  align-items: center;
  flex-wrap: wrap;
}

.list-a-sorting li {
  margin-right: 33px;
}

.active {
  color: var(--basic-3);
}

.non-active {
  color: var(--black-sorting);
  border-bottom: 1px dashed var(--basic-3);
}

.a-sorting:hover {
  color: var(--basic-3);
  border-bottom: 1px dashed var(--basic-3);
}

.a-sorting:active {
  color: var(--basic-2);
  border: none;
}

.triagles {
  display: flex;
  margin-right: 73px;
  align-items: center;
  justify-content: space-between;
}

.triagle {
  margin-right: 12px;
  fill: var(--triagle-gray);
}

.triagle-active {
  fill: var(--basic-3);
}

.triagle:hover {
  fill: var(--basic-2);
}

.triagle:active {
  fill: var(--basic-3);
}

.triagle:last-child {
  margin: 0;
}

.t-hotels {
  width: 1200px;
  height: 452px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 150px 150px 150px;
  text-align: left;
}

.type-hotels {
  border-bottom: 1px solid var(--line-grey);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 30px;
  padding: 23px 73px 30px 73px;
}

.name-hotel {
  margin: 0;
}

.name-hotels:hover {
  color: var(--basic-3);
}

.name-hotels:active {
  color: var(--black-sorting);
}

.detal-hotels-price-booking {
  display: grid;
  align-items: center;
  grid-gap: 6px;
  grid-template-columns: 110px 142px;
}

.detal {
  background-color: var(--basic-3);
}

.booking,
.search-hotel {
  color: var(--basic-1);
  background-color: var(--info-brown);
}
.detal,
.booking {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
  color: var(--basic-1);
}

.detal:hover,
.search-hover {
  background-color: var(--hover-blue);
}

.detal:active {
  color: var(--line-bar-white);
  background-color: var(--active-blue);
}

.booking:hover,
.search-hotel:hover {
  background-color: var(--hover-brown);
}

.booking:active,
.search-hotel:active {
  color: var(--line-bar-white);
  background-color: var(--active-brown);
}

.star {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.rating {
  background-color: var(--field-grey);
  padding: 3px 12px 3px 15px;
  color: var(--reiting-grey);
}
